{% extends "main.html" %}

{% block content1 %}
<link rel="stylesheet" href="static/css/login_reg.css">
    <div id="clouds">
	<div class="cloud x1"></div>
	<div class="cloud x2"></div>
	<div class="cloud x3"></div>
	<div class="cloud x4"></div>
	<div class="cloud x5"></div>
</div>

 <div class="contain">

      <div id="login">

        <form method="post">

          <fieldset class="clearfix">

            <p><span class="fontawesome-user"></span>
			  <p>
            {{ form.username }}<br>
            </p>
			</p>
            <p><span class="fontawesome-lock"></span>
		  <p>
            {{ form.password }}<br>
        </p>
	 </p>
            <p>{{ form.submit }}</p>

          </fieldset>

        </form>

        <p><a href="/add_user" class="blue">Зарегистрироваться</a><span class="fontawesome-arrow-right"></span></p>

      </div>

    </div>
{% endblock %}
