{% extends "main.html" %}
{% block content2 %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="card">

    {% if session["username"] == user.username %}
    <div class="card-header">
        <h2>Моя страничка</h2>
    </div>
    {% endif %}
    <div class="card-body">
        <h3>{{ user.name }}  {{ user.surname }}</h3>
        <p>{{ user.email }}</p>
    </div>
</div>

{% endblock %}