{% extends "main.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content2 %}
<title>{{ news.title }}</title>
<div class="card">
    <div class="card-header">
        <a role="button" class="close xl" aria-label="Close" href="/news"><span aria-hidden="true">&times;</span></a>
        <h1>{{ news.title }}</h1>
    </div>
    <div class="card-body">
        <p>{{ news.text }}</p>
        {% if session["user_id"] == 1 %}
        <a href="/delete_news/{{ news.id }}">Удалить</a>
        {% else %}
        <button type="button" class="btn btn-outline-success btn-lg" data-toggle="modal" data-target="#exampleModalCenter">Бан</button>
        {% endif %}
    </div>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Причина бана</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          {{ form_van. hidden_tag () }}
          {{ wtf.quick_form(form_van) }}
      </div>
    </div>
  </div>
</div>

<table class="table table-hover">
    {% for i in comments %}
    <tr style="background_color: grey">
        <td width="70px">
            <a href="/users/{{ i.user_id }}">
                <img  style="border-radius: 50px;" width="40" height="40" src="/static/1.jpg" />
            </a>
        </td>
        <td>
            <a href="/users/{{ i.user_id }}">
                {{ i.user.username }}
            </a>
            <p>{{ i.text }}</p>
            <smal>{{ i.created_date }}</smal>
        </td>
    </tr>
    {% endfor %}
</table>
<h4 style="margin: 20px">Добавить комментарий</h4>
<form action="" method="post" novalidate>
    <div class="form-group">
        {{ form. hidden_tag () }}
        {{ wtf.quick_form(form) }}

        {{  wtf.form_errors (form ,  hiddens = "only" )  }}
    </div>
    </form>

{% endblock %}