{% extends "main.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content2 %}
<title>{{ news.title }}</title>
<div class="card">
    <div class="media mt-3">
        <a class="d-flex flex-column" href="/users/{{ news.user_id }}">
            <img  style="border-radius: 50px;" width="80" height="80" src="/static/{{ news.user.image }}" class="align-self-start mr-3"/>
            <p class="align-self-center mr-3">{{ news.user.username }}</p>
        </a>

        <div class="media-body">
            <a role="button" class="close xl" aria-label="Close" href="/news"><span aria-hidden="true">&times;</span></a>
            <h5 class="mt-0">{{ news.title }}</h5>
            <p>{{news.text}}</p>
            {% if session["user_id"] == 1 or session["user_id"] == news.user_id%}
            <a href="/delete_news/{{ news.id }}">Удалить</a>
            {% else %}
            <button type="button" class="btn btn-outline-success btn-lg" data-toggle="modal" data-target="#exampleModalCenter">Бан</button>
            {% endif %}
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Причина бана</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          {{ form_van. hidden_tag () }}
          {{ wtf.quick_form(form_van) }}
      </div>
    </div>
  </div>
</div>

<table class="table table-hover">
    {% for i in comments %}
    <td>
        <div class="media">
            <a href="/users/{{ i.user_id }}">
                <img  style="border-radius: 50px;" width="40" height="40" src="/static/{{ i.user.image }}" class="mr-3"/>
            </a>
            <div class="media-body">
                {% if session["user_id"] == 1 or session["user_id"] == news.user_id%}
                <a role="button" class="close xl" aria-label="Close" data-toggle="tooltip" data-html="true" title="Удалить" href="/delete_com/{{i.id}}"><span aria-hidden="true">&times;</span></a>
                {% endif %}
               <h5 class="mt-0">{{ i.user.username }}</h5>
                <p>{{ i.text }}</p>
                <smal>{{ i.created_date }}</smal>

            </div>
        </div>
    </td>

    </tr>
    {% endfor %}
</table>
<h4 style="margin: 20px">Добавить комментарий</h4>
<form action="" method="post" novalidate>
    <div class="form-group">
        {{ form. hidden_tag () }}
        {{ wtf.quick_form(form) }}

        {{  wtf.form_errors (form ,  hiddens = "only" )  }}
    </div>
</form>

{% endblock %}